doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
html(ng-app='app')
    head(land="ru")
        meta(content="text/html", charset="UTF-8")
        title Mailer.io
        link(href="css/lib.css",rel="styleSheet")
        //link(href="css/vendor.css",rel="styleSheet")
        script(src="js/lib.js",type="text/javascript")
        script(src="js/templates.js",type="text/javascript")
        script(src="js/app.js",type="text/javascript")

    body
        div.ui.centered.grid
            div.fifteen.wide.column()
                div(ng-controller="IndexController as index",ng-show="index.isAuth", user-menu)
            div.fifteen.wide.column
                div(ng-view)
